@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: "OldLondon";
  src: url("../fonts/OldLondon.ttf"); }

body {
  background-color: white;
  display: grid;
  grid-template-rows: 23vh auto 23vh;
  height: 100vh;
  font-size: small; }
  @media screen and (min-width: 767px) {
    body {
      font-size: medium;
      grid-template-rows: 14vh auto 14vh; } }
  body header {
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 1020; }
    body header .aMenu {
      text-decoration: none;
      color: black;
      padding: 0.25rem;
      margin: 0.25rem;
      font-size: 1rem;
      transition-duration: 1s; }
    body header .aMenu:hover {
      transform: scale(1.1);
      background-color: #151560;
      border-radius: 10px;
      color: white; }
    body header .imgMenu {
      padding: 0.25rem;
      margin: 0.25rem;
      transition-duration: 1s; }
    body header .imgMenu:hover {
      transform: scale(1.1);
      border-radius: 0%; }
    body header audio {
      width: 9rem;
      height: 1rem;
      background-color: white; }
    body header .tituloMain {
      padding: 2rem 0 2rem 0;
      color: white;
      background: radial-gradient(#457b9d, #151560);
      margin: 0px;
      padding: 15px 20px;
      border: solid 1px none;
      text-align: justify;
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
    body header .redesContainer {
      display: flex;
      flex-direction: row; }
    body header .redes {
      background-color: none;
      width: 35px;
      height: 35px;
      align-self: center;
      margin-right: 20px;
      transition: 1s; }
    body header .redes:hover {
      transform: scale(1.2); }
  body main {
    margin: 3rem 1rem 1rem 0;
    background-color: #457b9d;
    box-shadow: 10px 10px 10px grey;
    /* Clases y etiquetas de la página INDEX */
    /* Clases y etiquetas de la página AREAS DE PRACTICA */
    /* Clases y etiquetas de la página ACTUALIDAD */
    /* Clases y etiquetas de la página Equipo */
    /* Clases y etiquetas de la página CONTACTO */ }
    body main img {
      width: auto;
      height: auto;
      border-radius: 10px;
      position: relative; }
    body main .nombreEstudio {
      color: black;
      margin: 2rem;
      text-align: center;
      white-space: pre-line; }
    body main .spanNombreEstudio {
      font-family: "Cardinal";
      font-size: 5rem;
      line-height: 0.8; }
    body main .divIndex {
      display: grid;
      grid-template-columns: 35% 65%;
      grid-template-rows: repeat 2, 1fr;
      grid-template-areas: "Descripción1 FotoIndex" "Descripción2 FotoIndex";
      gap: 20px; }
      body main .divIndex #descripcionEstudio1 {
        grid-area: Descripción1;
        margin: 10px;
        text-align: justify;
        font-style: italic;
        color: white; }
      body main .divIndex #descripcionEstudio2 {
        grid-area: Descripción2;
        margin: 10px;
        text-align: justify;
        font-style: italic;
        color: white; }
      body main .divIndex #fotoBibliotecaIndex {
        grid-area: FotoIndex;
        width: 80%;
        height: 100vh;
        margin: 10px; }
      @media (min-width: 767px) {
        body main .divIndex {
          grid-template-columns: 1fr;
          grid-template-rows: auto auto auto;
          grid-template-areas: "Descripción1" "Descripción2" "FotoIndex";
          gap: 20px;
          height: auto;
          justify-items: center; }
          body main .divIndex #descripcionEstudio1 {
            grid-area: Descripción1;
            text-align: justify; }
          body main .divIndex #descripcionEstudio2 {
            grid-area: Descripción2;
            margin: 20px;
            text-align: justify; }
          body main .divIndex #fotoBibliotecaIndex {
            grid-area: FotoIndex;
            width: 90%;
            height: 100vh;
            margin: 10px; } }
    body main .tituloDeAreaDePractica {
      height: 90px;
      text-align: start; }
    body main .descripcionDeAreaDePractica {
      margin-top: 30px; }
    body main .areaDePractica {
      background-color: #151560;
      margin: 60px 40px 20px 20px;
      padding: 15px 20px;
      border: solid 3px #457b9d;
      border-radius: 15px;
      text-align: justify;
      justify-content: space-between;
      font-size: x-small;
      color: white; }
    @media screen and (min-width: 767px) {
      body main .mainAreaDePractica {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: space-evenly; }
      body main .areaDePractica {
        width: 300px;
        height: 500px;
        box-shadow: 10px 10px 10px grey;
        font-size: medium; }
      body main .tituloAreaDePractica {
        width: 300px;
        height: 63px; } }
    body main .articleActualidad {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-content: flex-start;
      height: 900px; }
    body main .descripcionActualidad {
      text-align: justify;
      margin: 60px 20px 0 20px;
      color: white; }
    body main .tableActualidad {
      margin-top: 5vh;
      padding: 10px;
      max-width: 90vh;
      background-color: #151560;
      color: white;
      align-items: center;
      text-align: left;
      box-shadow: 10px 10px 20px grey; }
    body main .tdLinkActualidad {
      text-decoration: none;
      color: white;
      background-color: #457b9d;
      padding: 1px;
      margin: 5px;
      font-size: 1rem; }
    body main .paresDistintos tr:nth-child(odd) {
      background-color: white;
      color: black; }
    body main .grillaEquipo {
      display: block;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 50px auto 50px auto 50px auto 50px auto;
      grid-template-areas: "tituloSocios tituloSocios" "socio1 socio2" "tituloSenior tituloSenior" "senior1 senior2" "tituloJunior tituloJunior" "junior ." "tituloColab tituloColab" "colab . "; }
      body main .grillaEquipo .card {
        display: block;
        margin: 10px auto;
        max-width: 90%; }
      body main .grillaEquipo #tituloSocios {
        grid-area: tituloSocios;
        padding: 20px 0 0 20px; }
      body main .grillaEquipo #socio1 {
        grid-area: socio1; }
      body main .grillaEquipo #socio2 {
        grid-area: socio2; }
      body main .grillaEquipo #tituloSenior {
        grid-area: tituloSenior;
        padding: 20px 0 0 20px; }
      body main .grillaEquipo #senior1 {
        grid-area: senior1; }
      body main .grillaEquipo #senior2 {
        grid-area: senior2; }
      body main .grillaEquipo #tituloJunior {
        grid-area: tituloJunior;
        padding: 20px 0 0 20px; }
      body main .grillaEquipo #junior1 {
        grid-area: junior; }
      body main .grillaEquipo #tituloColab {
        grid-area: tituloColab;
        padding: 20px 0 0 20px; }
      body main .grillaEquipo #colab1 {
        grid-area: colab; }
      @media (min-width: 767px) {
        body main .grillaEquipo {
          grid-template-columns: repeat(4, 1fr);
          grid-template-rows: 50px auto 50px auto;
          grid-template-areas: "tituloSocios tituloSocios tituloSenior tituloSenior" "socio1 socio2 senior1 senior2" "tituloJunior tituloJunior tituloColab tituloColab" "junior . colab .";
          gap: 5px; } }
    body main .descripcionEquipo {
      margin: 60px 20px 0 20px;
      text-align: justify;
      color: white; }
    body main .miembro {
      width: auto;
      height: auto;
      background-color: #151560;
      margin: 20px 0px 20px 0px;
      padding: 5px;
      color: white;
      text-align: justify;
      box-shadow: 5px 5px 10px white; }
    body main .miembroFoto {
      width: 96%;
      height: auto;
      margin: 5px; }
    body main .paddingCardBody {
      padding-bottom: 70px; }
    body main .fondoCard, body main .fondoCard_footer {
      background: none;
      border-style: none;
      align-self: flex-end; }
    body main .fondoCard_footer {
      align-self: flex-end; }
    body main .descripcionContacto {
      margin: 60px 20px 20px 20px;
      text-align: justify;
      color: white; }
    body main .contenedorFotosyForm {
      display: flex;
      flex-wrap: wrap;
      justify-content: center; }
    body main .fotoFrenteEstudio {
      width: 50vh;
      margin: 5px;
      border: solid 1px #151560; }
    body main .fotoRecepcionEstudio {
      width: 50vh;
      margin: 5px;
      border: solid 1px #151560; }
    body main .divForm {
      display: inline-block;
      margin: 5px;
      padding: 20px;
      border-radius: 15px;
      background-color: #151560; }
    body main .formContacto {
      width: 50vh; }
    body main .inputForm, body main .inputForm_fondoGris {
      width: 50vh;
      margin: 2px; }
    body main .inputForm_fondoGris {
      background-color: #f2f5f5; }
  body footer {
    bottom: 0px;
    margin-block-start: 1rem;
    padding: 1rem;
    justify-content: center;
    background-color: #151560;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  body .redesContainer {
    display: flex;
    flex-direction: row; }
  body .redes {
    background-color: none;
    width: 35px;
    height: 35px;
    align-self: center;
    margin-right: 20px;
    transition: 1s; }
  body .redes:hover {
    transform: scale(1.2); }
  @media screen and (min-width: 767px) {
    body .animacionFondoMain {
      animation: fondoCambiante infinite 4s 0s;
      animation-timing-function: ease-in-out; } }
