        @keyframes fondoCambiante {
            0% {
                background: radial-gradient(rgb(187, 172, 70), beige)
            }

            ;

            50% {
                background: beige
            }

            ;

            100% {
                background: radial-gradient(rgb(187, 172, 70), beige)
            }

            ;
        }