 $mapaColores:(Primario: beige,
     Secundario: rgb(187, 172, 70),
     Terciario: rgba(179, 176, 70, 0.448),
     FondoBox: rgba(118, 214, 238, 0.948),
     Links: blue,
     Transparent: rgba(0, 0, 0, 0));

 // $mapaColores:(
 //     Primario: rgb(250, 250, 255),
 //     Secundario: black,
 //     Terciario: rgba(179, 176, 70, 0.448),
 //     FondoBox: rgb(172, 171, 171),
 //     Links: blue,
 //     Transparent: rgba(217, 207, 207, 0.903)
 //     );