$colorPrimario: beige;
$colorSecundario: rgb(187, 172, 70);
$colorTerciario: rgba(179, 176, 70, 0.448);
$colorFondoBox: rgba(118, 214, 238, 0.948);
$colorLinks: blue;
$colorTransparent: rgba(0, 0, 0, 0);
