* {
    margin: 0;
    padding: 0;

}

@import "sass/variables";
@import "sass/animaciones";
@import "sass/mixins";

@font-face {
    font-family: "OldLondon";
    src: url("../fonts/OldLondon.ttf");
}

@function color($color-name){
    @return map-get($mapaColores,$color-name)
}

body {
    background-color: color(Primario);
    display: grid;
    grid-template-rows: 12vh auto 10vh;
    height: 100vh;

    header {
        position: sticky;
        top: 0px;
        background-color: color(Primario);
        z-index: 1020;
           
        .aMenu {
            text-decoration: none;
            color: black;
            padding: 0.25rem;
            margin: 0.25rem;
            font-size: 1rem;
            transition-duration: 1s;
        }
        
        .aMenu:hover {
            transform: scale(1.1);
            background-color: color(Secundario);
            border-radius: 10px;
            color: white;
        }

        .imgMenu {
            padding: 0.25rem;
            margin: 0.25rem;
            transition-duration: 1s;
        }
        
        .imgMenu:hover {
            transform: scale(1.1);
            border-radius: 0%;
        }
        
        
        audio {
            @include anchoxalto(9rem,1rem);
            background-color: color(Primario);
        }
        
    }
    

    main {
        margin: 0 1rem 0 1rem;
        background-color: color(Primario);
        box-shadow: 10px 10px 10px grey;

        h2 {
            padding: 2rem 0 2rem 0;
        }
        
        img {
            @include anchoxalto(100vh,auto);
            border-radius: 10px;
            position: relative;
        }

        /* Clases y etiquetas de la página INDEX */

        .nombreEstudio {
            color: color(Secundario);
            margin: 2rem;
            text-align: center;
            white-space: pre-line;
        }

        .spanNombreEstudio {
            font-family: "oldLondon";
            font-size: 5rem;
            line-height: 0.8;
        }

        .divIndex {

            display: flex;
            justify-content: center;
            text-align: left;
            font-style: italic;
        }

        .descripcionEstudio1 {
            width: 35vh;
            margin: 20px;
            text-align: justify;
        }

        .descripcionEstudio2 {
            width: 35vh;
            margin: 20px;
            text-align: justify;
        }

        .fotoBibliotecaIndex {
            width: 65vh;
            margin: 10px;
        }


        /* Clases y etiquetas de la página AREAS DE PRACTICA */

        .tituloAreaDePractica {
            color: color(Secundario);
            background-color: rgba(0, 0, 0, 0.459);
            margin: 20px;
            padding: 15px 20px;
            border: solid 1px none;
            text-align: justify;

        }

        .areaDePractica {
            background-color: transparentize(color(Secundario), $amount: 0.5);
            margin: 20px 40px 20px 20px;
            padding: 15px 20px;
            border: solid 1px rgba(0, 0, 0, 0.685);
            text-align: justify;
            justify-content:center;
        }


        @media screen and (min-width: 767px) {    
        
            .mainAreaDePractica {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-content: space-evenly;
            }
    
            .areaDePractica {
                @include anchoxalto(300px,500px);
                box-shadow: 10px 10px 10px grey;
            }
    
            .tituloAreaDePractica {
                @include anchoxalto(300px,63px);
            }
   
        }

        /* Clases y etiquetas de la página ACTUALIDAD */

        .articleActualidad {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-content: flex-start;
            height: 900px;
        }

        .descripcionActualidad {
            text-align: justify;
            margin: 0 10px 0 10px;
        }

        .tableActualidad {
            margin-top: 5vh;
            padding: 10px;
            max-width: 90vh;
            background-color: color(terciario);
            align-items: center;
            text-align: left;
            box-shadow: 10px 10px 20px grey;
        }

        .paresDistintos tr:nth-child(odd) {
            background-color: azure;
        }

        .tdLinkActualidad {
            text-decoration: none;
            color: color(Links);
            font-size: 1rem;
        
        }

        .tdLinkActualidad:hover {
            box-shadow: 10px 10px 20px grey;
            border-radius: 3px;
        }

        /* Clases y etiquetas de la página Equipo */

        .grillaEquipo {

            display: block;
                    
        .card{
            display: block;
            margin:10px auto;
            max-width: 90%;
        
        }

            #tituloSocios {
                grid-area: tituloSocios;
                padding:20px 0 0 20px;
            }

            #socio1 {
                grid-area: socio1;
            }

            #socio2 {
                grid-area: socio2;
            }

            #tituloSenior {
                grid-area: tituloSenior;
                padding:20px 0 0 20px;
            }

            #senior1 {
                grid-area: senior1;
            }

            #senior2 {
                grid-area: senior2;
            }

            #tituloJunior {
                grid-area: tituloJunior;
                padding:20px 0 0 20px;
            }

            #junior1 {
                grid-area: junior;
            }

            #tituloColab {
                grid-area: tituloColab;
                padding:20px 0 0 20px;
            }

            #colab1 {
                grid-area: colab;
            }

 
            @media(min-width:200px) {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: 50px auto 50px auto 50px auto 50px auto;
                grid-template-areas: "tituloSocios tituloSocios"
                    "socio1 socio2"
                    "tituloSenior tituloSenior"
                    "senior1 senior2"
                    "tituloJunior tituloJunior"
                    "junior ."
                    "tituloColab tituloColab"
                    "colab . ";
            }

            @media (min-width:767px) {
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: 50px auto 50px auto;
                grid-template-areas: "tituloSocios tituloSocios tituloSenior tituloSenior"
                    "socio1 socio2 senior1 senior2"
                    "tituloJunior tituloJunior tituloColab tituloColab"
                    "junior . colab .";
                gap: 5px;
            }
        }


        .descripcionEquipo {
            margin-bottom: 20px;
        } 


        .miembro {
            @include anchoxalto(auto,auto);
            background-color: color(FondoBox);
            margin: 20px 0px 20px 0px;
            padding: 5px;
            text-align: justify;
            box-shadow: 20px 20px 35px grey;
           
        }


        .miembroFoto { 
            @include anchoxalto(96%,auto);
            margin: 5px;
        }

        .fondoCard{
            background: none;
            border-style: none;
        }

        .fondoCard_footer {
            @extend .fondoCard;

            // aca no se encuentro que propiedad agregar 
            // para que todos los footer queden alineados con 
            // el final de la tarjeta
        }


        }

        /* Clases y etiquetas de la página CONTACTO */


        .descripcionContacto {
            margin: 20px;
            text-align: justify;
        }

        .contenedorFotosyForm {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .fotoFrenteEstudio {
            width: 50vh;
            margin: 5px;
        }

        .fotoRecepcionEstudio {
            width: 50vh;
            margin: 5px;
        }

        .divForm {
            display: inline-block;
            margin: 5px;
        }

        .formContacto {
            width: 50vh;
        }

        .inputForm {
            width: 50vh;
        }

        .inputForm_fondoGris {
            @extend .inputForm;
            background-color:rgb(242, 245, 245);
        }

    

    footer {
        bottom: 0px;
        margin-block-start: 1rem;
        padding: 1rem;
        justify-content: center;
        background-color: color(terciario);
    }



    @media screen and (min-width: 767px) {

        .animacionFondoMain {
            animation: fondoCambiante infinite 4s 0s;
            animation-timing-function: ease-in-out;
        }

    }

}