* {
    margin: 0;
    padding: 0;

}

@import "sass/variables";
@import "sass/animaciones";
@import "sass/mixins";

@font-face {
    font-family: "OldLondon";
    src: url("../fonts/OldLondon.ttf");
}

@function color($color-name) {
    @return map-get($mapaColores, $color-name)
}

body {
    background-color: color(Primario);
    display: grid;
    grid-template-rows: 23vh auto 23vh;
    height: 100vh;
    font-size: small;

    @media screen and (min-width: 767px) {
        font-size: medium;
        grid-template-rows: 14vh auto 14vh;
    }

    header {
        position: sticky;
        top: 0px;
        background-color: color(Primario);
        z-index: 1020;

        .aMenu {
            text-decoration: none;
            color: black;
            padding: 0.25rem;
            margin: 0.25rem;
            font-size: 1rem;
            transition-duration: 1s;
        }

        .aMenu:hover {
            transform: scale(1.1);
            background-color: color(Secundario);
            border-radius: 10px;
            color: color(Primario);
        }

        .imgMenu {
            padding: 0.25rem;
            margin: 0.25rem;
            transition-duration: 1s;
        }

        .imgMenu:hover {
            transform: scale(1.1);
            border-radius: 0%;
        }


        audio {
            @include anchoxalto(9rem, 1rem);
            background-color: color(Primario);
        }

        @media screen and (max-width: 350px) {}

        .tituloMain {
            padding: 2rem 0 2rem 0;
            color: color(Primario);
            background: radial-gradient(color(Terciario), color(Secundario));
            margin: 0px;
            padding: 15px 20px;
            border: solid 1px none;
            text-align: justify;

        }

    }


    main {
        margin: 3rem 1rem 1rem 0;
        background-color: color(Terciario);
        box-shadow: 10px 10px 10px grey;

        



        img {
            @include anchoxalto(auto, auto);
            border-radius: 10px;
            position: relative;
        }

        /* Clases y etiquetas de la página INDEX */

        .nombreEstudio {
            color: black;
            margin: 2rem;
            text-align: center;
            white-space: pre-line;
        }

        .spanNombreEstudio {
            font-family: "Cardinal";
            font-size: 5rem;
            line-height: 0.8;
        }

        .divIndex {

            display: grid;
            grid-template-columns: 35% 65%;
            grid-template-rows: repeat (2, 1fr);
            grid-template-areas:
                "Descripción1 FotoIndex"
                "Descripción2 FotoIndex";
            gap: 20px;

            #descripcionEstudio1 {
                grid-area: Descripción1;
                margin: 10px;
                text-align: justify;
                font-style: italic;
                color: color(Primario);
            }

            #descripcionEstudio2 {
                grid-area: Descripción2;
                margin: 10px;
                text-align: justify;
                font-style: italic;
                color: color(Primario);
            }

            #fotoBibliotecaIndex {
                grid-area: FotoIndex;
                width: 80%;
                height: 100vh;
                margin: 10px;
            }

            @media (min-width:767px) {
                grid-template-columns: 1fr;
                grid-template-rows: auto auto auto;
                grid-template-areas:
                    "Descripción1"
                    "Descripción2"
                    "FotoIndex";
                gap: 20px;
                height: auto;
                justify-items: center;

                #descripcionEstudio1 {
                    grid-area: Descripción1;

                    text-align: justify;
                }

                #descripcionEstudio2 {
                    grid-area: Descripción2;
                    margin: 20px;
                    text-align: justify;
                }

                #fotoBibliotecaIndex {
                    grid-area: FotoIndex;
                    width: 90%;
                    height: 100vh;
                    margin: 10px;
                }
            }

        }


        /* Clases y etiquetas de la página AREAS DE PRACTICA */


        .tituloDeAreaDePractica {
            height: 90px;
            text-align: start;
        }

        .descripcionDeAreaDePractica {
            margin-top: 30px;
        }

        .areaDePractica {
            background-color: color(Secundario);
            margin: 60px 40px 20px 20px;
            padding: 15px 20px;
            border: solid 3px color(Terciario);
            border-radius: 15px;
            text-align: justify;
            justify-content: space-between;
            font-size: x-small;
            color: white;
        }


        @media screen and (min-width: 767px) {

            .mainAreaDePractica {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-content: space-evenly;
            }

            .areaDePractica {
                @include anchoxalto(300px, 500px);
                box-shadow: 10px 10px 10px grey;
                font-size: medium;
            }

            .tituloAreaDePractica {
                @include anchoxalto(300px, 63px);
            }

        }

        /* Clases y etiquetas de la página ACTUALIDAD */

        .articleActualidad {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-content: flex-start;
            height: 900px;
        }

        .descripcionActualidad {
            text-align: justify;
            margin: 60px 20px 0 20px;
            color: color(Primario);
        }

        .tableActualidad {
            margin-top: 5vh;
            padding: 10px;
            max-width: 90vh;
            background-color: color(Secundario);
            color: color(Primario);
            align-items: center;
            text-align: left;
            box-shadow: 10px 10px 20px grey;
        }

        .tdLinkActualidad {
            text-decoration: none;
            color: color(Primario);
            background-color: color(Terciario);
            padding:1px;
            margin: 5px;
            font-size: 1rem;

        }


        .paresDistintos tr:nth-child(odd) {
            background-color: color(Primario);
            color: black;
        }
        
        
        
        /* Clases y etiquetas de la página Equipo */
        
        .grillaEquipo {
            
            display: block;
            
            .card {
                display: block;
                margin: 10px auto;
                max-width: 90%;
                
            }
            
            #tituloSocios {
                grid-area: tituloSocios;
                padding: 20px 0 0 20px;
            }
            
            #socio1 {
                grid-area: socio1;
            }

            #socio2 {
                grid-area: socio2;
            }

            #tituloSenior {
                grid-area: tituloSenior;
                padding: 20px 0 0 20px;
            }
            
            #senior1 {
                grid-area: senior1;
            }

            #senior2 {
                grid-area: senior2;
            }
            
            #tituloJunior {
                grid-area: tituloJunior;
                padding: 20px 0 0 20px;
            }
            
            #junior1 {
                grid-area: junior;
            }
            
            #tituloColab {
                grid-area: tituloColab;
                padding: 20px 0 0 20px;
            }
            
            #colab1 {
                grid-area: colab;
            }
            
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 50px auto 50px auto 50px auto 50px auto;
            grid-template-areas: "tituloSocios tituloSocios"
            "socio1 socio2"
            "tituloSenior tituloSenior"
            "senior1 senior2"
            "tituloJunior tituloJunior"
            "junior ."
            "tituloColab tituloColab"
            "colab . ";
            
            @media (min-width:767px) {
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: 50px auto 50px auto;
                grid-template-areas: "tituloSocios tituloSocios tituloSenior tituloSenior"
                "socio1 socio2 senior1 senior2"
                "tituloJunior tituloJunior tituloColab tituloColab"
                    "junior . colab .";
                gap: 5px;
            }
        }

        
        .descripcionEquipo {
            margin: 60px 20px 0 20px;
            text-align: justify;
            color: color(Primario);
        }

        
        .miembro {
            @include anchoxalto(auto, auto);
            background-color: color(Secundario);
            margin: 20px 0px 20px 0px;
            padding: 5px;
            color: color(Primario);
            text-align: justify;
            box-shadow: 5px 5px 10px color(Primario);
            
        }
        
        .miembroFoto {
            @include anchoxalto(96%, auto);
            margin: 5px;
        }
        
        .paddingCardBody {
            padding-bottom: 70px;
        }
        
        .fondoCard {
            background: none;
            border-style: none;
            align-self: flex-end
        }
        
        .fondoCard_footer {
            @extend .fondoCard;
            align-self: flex-end;

        }

        
        
        
    /* Clases y etiquetas de la página CONTACTO */


    .descripcionContacto {
        margin: 60px 20px 20px 20px;
        text-align: justify;
        color:color(Primario);
    }
    
    .contenedorFotosyForm {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .fotoFrenteEstudio {
        width: 50vh;
        margin: 5px;
        border: solid 1px color(Secundario);
    }
    
    .fotoRecepcionEstudio {
        width: 50vh;
        margin: 5px;
        border: solid 1px color(Secundario);
    }
    
    .divForm {
        display: inline-block;
        margin: 5px;
        padding: 20px;
        border-radius: 15px;
        background-color: color(Secundario);
        
    }

    .formContacto {
        width: 50vh;
    }

    .inputForm {
        width: 50vh;
        margin: 2px;
    }
    
    .inputForm_fondoGris {
        @extend .inputForm;
        background-color: rgb(242, 245, 245);
    }
    
}
    
    footer {
        bottom: 0px;
        margin-block-start: 1rem;
        padding: 1rem;
        justify-content: center;
        background-color: color(Secundario);
        color: color(Primario);
    }
    
    
    
    @media screen and (min-width: 767px) {
        
        .animacionFondoMain {
            animation: fondoCambiante infinite 4s 0s;
            animation-timing-function: ease-in-out;
        }
        
    }
    
}